

	<div class="container">
		<div class="trustpilot-widget-wrapper world-mh">
			<div class="centerer">
				<div class="trustpilot-widget" data-locale="en-US" data-template-id="5419b732fbfb950b10de65e5" data-businessunit-id="52a887ce00006400057794e1" data-style-height="50px" data-style-width="100%" data-theme="dark">
				<a href="https://www.trustpilot.com/review/sofaworks.co.uk" target="_blank"></a>
				</div>
			</div>
		</div>
		<div itemscope itemtype="http://schema.org/Organization" class="layout layout--flush u-p u-pl+ continent-ph">
			<div class="shopby layout__item u-1/1 u-1/2-village u-1/4-city u-1/4-country u-pb">
				<h2 class="h5">Shop By&#8230; </h2>
				<ul class="list-unstyled">
					<li><a href="/leather-sofas" scroll-to>Leather Sofas</a></li>
					<li><a href="/fabric-sofas" scroll-to>Fabric Sofas</a></li>
					<li><a href="/recliner-sofas" scroll-to>Recliner Sofas</a></li>
					<li><a href="/corner-sofas" scroll-to>Corner Sofas</a></li>
					<li><a href="/sofa-beds" scroll-to>Sofa Beds</a></li>
					<li><a href="/express-sofas" scroll-to>Express Delivery</a></li>
					<li><a href="/just-arrived" scroll-to>Just Arrived</a></li>
				</ul>
			</div><!--
			--><div class="about-us layout__item u-1/1 u-1/2-village u-1/4-city u-1/4-country u-pb">
				<h2 class="h5">About Us</h2>
				<ul class="list-unstyled">
					<li><a href click-contact-us>Contact Us</a></li>
					<li><a href="http://careers.sofology.co.uk">Careers</a></li>
					<li><a href="https://myaccount.sofology.co.uk">My Account</a></li>
					<li><a href="/termsandconditions" scroll-to >Customer Charter & Terms</a></li>
					<li><a href="/privacy-policy" scroll-to >Privacy & Cookies Policy</a></li>
					<li><a ng-href  click-contact-us enquiry-type="contactUs">Support</a></li>
				</ul>
			</div><!--
			--><div class="call-us layout__item u-1/1 u-2/4-city u-1/4-country u-pb country-pr+">
				<h2 class="h5">Call Us To Order</h2>
				<p>You can call us between 8am to 11pm 7 days a week to chat about sofas and even place an order.<br />
				<a href="tel:08001404040"><span itemprop="telephone">0800 140 40 40</span></a></p>
			</div><!--
			--><div class="socials layout__item u-1/1 u-1/4-country u-pb">
				<h2 class="h5">Follow Us</h2>
				<ul class="list-unstyled list-inline social-icons">
					<li>
						<a itemprop="sameAs" href="https://www.youtube.com/channel/UCJqSsedzwhqlG8nh_YiQPMw" target="_blank" class="brand-youtube" title="YouTube">
							<span class="fa-stack fa-2x">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-youtube fa-stack-1x"></i>
							</span>
						</a>
					</li>
					<li>
						<a itemprop="sameAs" href="https://twitter.com/sofology" target="_blank" class="brand-twitter" title="Twitter">
							<span class="fa-stack fa-2x">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-twitter fa-stack-1x"></i>
							</span>
						</a>
					</li>
					<li>
						<a itemprop="sameAs" href="https://www.facebook.com/sofology" target="_blank" class="brand-facebook" title="Facebook">
							<span class="fa-stack fa-2x">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-facebook fa-stack-1x"></i>
							</span>
						</a>
					</li>
					<li>
						<a itemprop="sameAs" href="https://plus.google.com/u/0/106419856953476712448/posts" target="_blank" class="brand-google" title="Twitter">
							<span class="fa-stack fa-2x">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-google-plus fa-stack-1x"></i>
							</span>
						</a>
					</li>
				</ul>
			</div><!--
			--><div class="layout__item">
				<p class="copyright">&copy; 2016 <span itemprop="name">Sofology Limited</span>. All rights reserved. Registered office: <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="streetAddress">Golborne Point, Ashton Road,</span> <span itemprop="addressLocality">Golborne</span>, <span itemprop="postalCode">WA3 3UL</span>. Company registration number: 1778734</span><br/>
			Delivery estimates are subject to availability in the location of our customers</p>
			</div>
		</div>
	</div>
